In [1]:
import pandas as pd
import numpy as np
import glob
import os
import sys
from pathlib import Path
from tqdm import tqdm

In [2]:
file_list_g = glob.glob('./../Generated/**.csv')

In [4]:
ip_list = []
for f in file_list_g:
    _ip = f.split('/')[-1].split('_')[-2]
    ip_list.append(_ip)

In [27]:
import time
import datetime
s = "04/11/2016"
START_TIME = time.mktime(datetime.datetime.strptime(s, "%d/%m/%Y").timetuple())
print(START_TIME)

1478232000.0

In [16]:
VALID_COLS = [ 'td', 'sa', 'da', 'sp', 'dp', 'pr', 'pkt', 'byt', 'teDelta']

In [28]:
def process(df):
    global START_TIME
    prev = 0
    TS = []
    for i,row in df.iterrows():
        _t = row['teDelta']
        TS.append(_t + prev)
        prev += _t
        
    df['TS']=TS
    df['TS'] = df['TS'] + START_TIME
    df['TS'] = pd.to_datetime(df['TS'], unit='s')
    return df

In [29]:
real_dict = {}
gen_dict = {}

In [32]:
for ip in ip_list:
    # find file
    file_g = glob.glob('./../Generated/**{}**.csv'.format(ip))[0]
    file_r = glob.glob('./../Real/**{}**.csv'.format(ip))[0]
    df_g = pd.read_csv(file_g,index_col=None,usecols=VALID_COLS)
    df_r = pd.read_csv(file_r,index_col=None,usecols=VALID_COLS)
    real_dict[ip] = process(df_r)
    gen_dict[ip] = process(df_g)

In [35]:
# Save the files

,teDelta,byt,pkt,td,sa,sp,da,dp,pr,TS
0,23,96,1,0.467382,69.237.133.169,769,42.219.157.246,0,Other,2016-11-04 04:00:23
1,4,279,1,0.528131,42.219.157.246,0,217.58.133.165,60107,Other,2016-11-04 04:00:27
2,29,146,27,0.515007,42.219.157.246,0,205.210.133.80,769,Other,2016-11-04 04:00:56
3,5,92,6,6.107365,42.219.157.246,0,175.75.195.165,769,Other,2016-11-04 04:01:01
4,4,577,5,0.509431,91.210.176.165,769,42.219.157.246,0,Other,2016-11-04 04:01:05
...,...,...,...,...,...,...,...,...,...,...
5344,22,111,5,0.497910,42.219.157.246,0,180.210.33.165,769,Other,2016-11-05 03:57:13
5345,4,118,6,6.158104,42.219.157.246,0,175.210.24.165,769,Other,2016-11-05 03:57:17
5346,4,68,24,0.488307,175.210.133.165,769,42.219.157.246,0,Other,2016-11-05 03:57:21
5347,92,51,1,21.751690,42.219.157.246,0,172.210.133.165,769,Other,2016-11-05 03:58:53
5348,137,89,6,0.450504,42.219.157.246,0,180.214.133.165,769,Other,2016-11-05 04:01:10

,teDelta,byt,pkt,td,sa,sp,da,dp,pr,TS
0,23,96,1,0.467382,69.237.133.169,769,42.219.157.246,0,Other,2016-11-04 04:00:23
1,4,279,1,0.528131,42.219.157.246,0,217.58.133.165,60107,Other,2016-11-04 04:00:27
2,29,146,27,0.515007,42.219.157.246,0,205.210.133.80,769,Other,2016-11-04 04:00:56
3,5,92,6,6.107365,42.219.157.246,0,175.75.195.165,769,Other,2016-11-04 04:01:01
4,4,577,5,0.509431,91.210.176.165,769,42.219.157.246,0,Other,2016-11-04 04:01:05
...,...,...,...,...,...,...,...,...,...,...
5344,22,111,5,0.497910,42.219.157.246,0,180.210.33.165,769,Other,2016-11-05 03:57:13
5345,4,118,6,6.158104,42.219.157.246,0,175.210.24.165,769,Other,2016-11-05 03:57:17
5346,4,68,24,0.488307,175.210.133.165,769,42.219.157.246,0,Other,2016-11-05 03:57:21
5347,92,51,1,21.751690,42.219.157.246,0,172.210.133.165,769,Other,2016-11-05 03:58:53
5348,137,89,6,0.450504,42.219.157.246,0,180.214.133.165,769,Other,2016-11-05 04:01:10